@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&display=swap');
/*border: 1px solid blue;*/

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    width: 1900px;
}

#header {
    margin-top: 124px;
    display: block;
    text-align: center;
}


.main {
    margin: 5px;
    padding: 220px; /* Внешние отступы по периметру */
    padding-left: 0%;
    margin-left: 330px;
    padding-top: 0%;
    padding-bottom: 0%;
}




/* Внутреннее выравнивание элементов внутри main */
#rm,
.big,
#some_text,
.red_class {/*
    margin-left: -70px; /* Убираем отступ слева */
    /*margin-right: -70px; /* Убираем отступ справа */
}

#rm {

    color: #333333;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 60px;
    font-size: 18px;
    font-weight:bolder;

    display: flex;
    /* Включаем Flexbox */
    gap: 20px;
    /* Устанавливаем отступ между элементами (по желанию) */
    

}

.line_red {
    font-weight: 400;

}

.center {
    display: block;
    text-align: center;
    padding: auto, 20px;
}

.line_red:hover {
    border-bottom: 2px solid #D90000;
    display: inline-block;
}

.big {
    text-transform: uppercase;
    font-weight: 500;
    float: left;

}

.conteiner {
    margin-top: 30px;
    /*margin-left: 160px;*/
    margin-right: 160px;
    display: flex;
    width: 1180px;
    justify-content: flex-end;
    position: relative;
}

#img1 {
    float: left;
    position: relative;

    padding-right: 20px;
}

#bok {
    display: flex;
    flex-direction: column;
    float: right;
    right: -10px;
}

.see{
    position: absolute;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.wrapper{
    position: relative;

}
#see1{
    left: 50px;
    bottom: 60px;
}

.see2{
    left: 30px;
    bottom: 30px;
}

.circle{
    display: flex;
    justify-content: space-between;
    width: 91px;
}

.circle p{
    margin-top: 50px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    
}

#grey{
    background-color: #4F4F4F;
    border-color: #4F4F4F;
}

#white{
    background-color: white;
    border-color:white;
}


.red_class {
    background-color: #D90000;
    color: white;
    width: 246px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    font-size: 18px;

    margin-top: 100px;
}

#post{
    display: flex;
    flex-direction: column;
}

#post .see{
    position: relative;
}



.id1{
    padding-right: 40px;
    position: relative;


}


.id2{
    position: relative;
    float: right;
}
#id21{
    padding-right: 10px;
}

.id2 img, .id2 p{
    padding: 10px;
    padding-top: 0%;
    padding-right: 0%;
    
}

.id2 #top {
    padding-top: 10px;
}

.name{
    text-transform: uppercase;
    font-weight:500;
}

#botton{
    position: relative;
    bottom: 0px;
}

/*
#img2 {
    float: left;
    float: right;
}

#img3 {
    float: left;
    float: right;
}
    */

/*
div img {
    float: left;

}

#id1 {
    float: left;
}

#id2 {
    float: left;
}

text {
    fill: url(#sea);
}

.center {
    display: block;
    text-align: center;
    padding: auto, 20px;
}*/

#up{
    position: absolute;
    writing-mode: vertical-rl;
    display: flex;
    text-transform: uppercase;
    gap: 10px;
    right: -100px;
    bottom: -50px;
}

#up img{
    width: 15px;
    height: 15px;
    border: 1px solid #1A1A1A;
    border-radius: 50%;
    padding: 5px;
}


#rassilka1{
    margin-top: 100px;
}

.rassilka {
    height: 300px;
    width: 100%;
    display: flex;
    /* Используем flexbox для выравнивания */
    background-color: #F3F3F7;
    /* text-align: center;*/
    align-items: center;
    /* Вертикальное выравнивание */
    
}


.rassilka p {
    font-size: 30px;
    color: #333333;
}

.rassilka input[type="email"] {
    width: 350px;
    height: 50px;
    border: 1px solid #9A9A9A;
    padding-left: 20px;
}


.rassilka input[type="submit"] {
    width: 200px;
    height: 52px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    border: 2px solid #1A1A1A;
    text-transform: uppercase;
}

#new{
    margin-top: 100px;
    display: flex;
    background: url('solution_6-10-44/Bitmap.jpg');
    height: 618px;
    width: 1920px;
    color: white;
    font-size: 60px;
    
    align-items: center;

}
#new form{
display: grid;
    width: 860px;
    align-items: center;
}
#new .sc{
    display: flex; /* Добавляем Flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    width: 40px;
    height: 40px;
    border: 1px solid #5e5e5e;
    background-color: #030303;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}

#new #c{
    text-align: center;
    width: 860px;
}

#new p b {
    font-weight: 500;
}

footer{
    margin-top: 120px;
    display: flex;
    background-color: #1A1A1A;
    height: 140px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer div {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
footer div img{
    padding: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #5e5e5e;
    border-radius: 50%;
}


